@import "tailwindcss";

.input-field {
    @apply block shadow-sm rounded-md border-2 border-gray-400 px-3 py-2 mt-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-600;
}

.field_with_errors .input-field {
    @apply
    border-red-400 focus:outline-red-600
}
