@import "tailwindcss";

.input-field {
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    border: 2px solid #6b7280;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    width: 100%;
    outline: none;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.5);
    border-color: #2563eb;
}

.field_with_errors .input-field {
    border-color: #f87171;
}

.field_with_errors .input-field:focus {
    border-color: #dc2626;
    box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.5);
}
